<a href="https://colab.research.google.com/github/franckalain/Python-Programming/blob/master/Methods-and-Functions/Functions_Exercices.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### LESSER OF TWO EVENS: 

Write a function that returns the lesser of two given numbers if both numbers are even, but returns the greater if one or both numbers are odd

In [0]:
def lesser_two_event(a, b):
  if a % 2 == 0 & b % 2 == 0:
    return min(a, b)
  else:
    return max(a, b)

In [18]:
lesser_two_event(2, 4)

2

In [0]:
def lesser_two_event(a, b):
  if a % 2 == 0 | b % 2 != 0:
    return min(a, b)
  else:
    return max(a, b)

In [20]:
lesser_two_event(2, 4)

4

### ANIMAL CRACKERS: 

Write a function takes a two-word string and returns True if both words begin with same letter

animal_crackers('Levelheaded Llama') --> True
animal_crackers('Crazy Kangaroo') --> False

In [0]:
def animal_crackers(text):
  word = text.split()
  return word[0][0] == word[1][0]

In [23]:
animal_crackers('La banane')

False

In [24]:
animal_crackers('La Liste')

True

### MAKES TWENTY: 

Given two integers, return True if the sum of the integers is 20 or if one of the integers is 20. If not, return False

In [0]:
def add(a, b):
  if a + b == 20 or a == 20 or b == 20:
    return True 
  else:
    return False

In [46]:
add(0, 10)

False

### OLD MACDONALD: 

Write a function that capitalizes the first and fourth letters of a name

In [0]:
def capital(name):
  if len(name) > 3:
    return name[:3].capitalize() + name[3:].capitalize()

In [62]:
capital('macdonald')

'MacDonald'

In [0]:
import pandas as pd

df = pd.read_csv('https://www.usaid.gov/opengov/developer/datasets/SCMS_Delivery_History_Dataset_20150929.csv', encoding='latin-1')

In [68]:
df.head()

,ID,Project Code,PQ #,PO / SO #,ASN/DN #,Country,Managed By,Fulfill Via,Vendor INCO Term,Shipment Mode,...,Unit of Measure (Per Pack),Line Item Quantity,Line Item Value,Pack Price,Unit Price,Manufacturing Site,First Line Designation,Weight (Kilograms),Freight Cost (USD),Line Item Insurance (USD)
0,1,100-CI-T01,Pre-PQ Process,SCMS-4,ASN-8,Côte d'Ivoire,PMO - US,Direct Drop,EXW,Air,...,30,19,551.0,29.00,0.97,Ranbaxy Fine Chemicals LTD,Yes,13,780.34,NaN
1,3,108-VN-T01,Pre-PQ Process,SCMS-13,ASN-85,Vietnam,PMO - US,Direct Drop,EXW,Air,...,240,1000,6200.0,6.20,0.03,"Aurobindo Unit III, India",Yes,358,4521.5,NaN
2,4,100-CI-T01,Pre-PQ Process,SCMS-20,ASN-14,Côte d'Ivoire,PMO - US,Direct Drop,FCA,Air,...,100,500,40000.0,80.00,0.80,ABBVIE GmbH & Co.KG Wiesbaden,Yes,171,1653.78,NaN
3,15,108-VN-T01,Pre-PQ Process,SCMS-78,ASN-50,Vietnam,PMO - US,Direct Drop,EXW,Air,...,60,31920,127360.8,3.99,0.07,"Ranbaxy, Paonta Shahib, India",Yes,1855,16007.06,NaN
4,16,108-VN-T01,Pre-PQ Process,SCMS-81,ASN-55,Vietnam,PMO - US,Direct Drop,EXW,Air,...,60,38000,121600.0,3.20,0.05,"Aurobindo Unit III, India",Yes,7590,45450.08,NaN