<a href="https://colab.research.google.com/github/franckalain/Python-Programming/blob/master/Python-Statements/for_loops.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **for Loops**

**A for loop **acts as an iterator in Python; it goes through items that are in a sequence or any other iterable item. Objects that we've learned about that we can iterate over include strings, lists, tuples, and even built-in iterables for dictionaries, such as keys or values.

We've already seen the for statement a little bit in past lectures but now let's formalize our understanding.

Here's the general format for a for loop in Python:

for item in object:
    statements to do stuff
The variable name used for the item is completely up to the coder, so use your best judgment for choosing a name that makes sense and you will be able to understand when revisiting your code. This item name can then be referenced inside your loop, for example if you wanted to use if statements to perform checks.

Let's go ahead and work through several example of for loops using a variety of data object types. We'll start simple and build more complexity later on.

In [0]:
mylist = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [2]:
for number in mylist:
  print(number)

1
2
3
4
5
6
7
8
9
10

In [3]:
for number in mylist:
  if number % 2 == 0:
    print(number)

2
4
6
8
10

In [4]:
for number in mylist:
  if number % 2 != 0:
    print(number)

1
3
5
7
9

In [5]:
mylist_sum = 0

for number in mylist:
  mylist_sum = number + mylist_sum
  print(mylist_sum)

1
3
6
10
15
21
28
36
45
55

In [8]:
for letter in ('this is a string'):
  print(letter)

t
h
i
s

i
s

a

s
t
r
i
n
g

In [9]:
tup = (1, 2, 3, 4, 5)

for t in tup:
  print(t)

1
2
3
4
5

In [11]:
second_list = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]

for tup in second_list:
  print(tup)

(1, 2, 3)
(4, 5, 6)
(7, 8, 9)

In [21]:
d = {'k1': 1, 'k2': 2, 'k3': 3}

for k in d:
  print(k)

k1
k2
k3

In [22]:
d.items()

dict_items([('k1', 1), ('k2', 2), ('k3', 3)])

In [29]:
for k, v in d.items():
  print(k, v)

k1 1
k2 2
k3 3

In [24]:
d.values()

dict_values([1, 2, 3])

In [27]:
for v in d.values():
  print(v)

1
2
3