<a href="https://colab.research.google.com/github/franckalain/Python-Programming/blob/master/Python-Statements/Useful_Operators.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Useful Operators
There are a few built-in functions and "operators" in Python that don't fit well into any category, so we will go over them in this lecture, let's begin!

### range
The range function allows you to quickly generate a list of integers, this comes in handy a lot, so take note of how to use it! There are 3 parameters you can pass, a start, a stop, and a step size

In [1]:
range(0, 11)

range(0, 11)

In [2]:
list(range(0, 11))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

### enumerate
enumerate is a very useful function to use with for loops. Let's imagine the following situation

In [3]:
for i,letter in enumerate('abcde'):
    print("At index {} the letter is {}".format(i,letter))

At index 0 the letter is a
At index 1 the letter is b
At index 2 the letter is c
At index 3 the letter is d
At index 4 the letter is e

### zip
Notice the format enumerate actually returns, let's take a look by transforming it to a list()

In [4]:
list(enumerate('abcde'))

[(0, 'a'), (1, 'b'), (2, 'c'), (3, 'd'), (4, 'e')]

In [0]:
list1 = [1, 2, 3, 4, 5]
list2 = ['a', 'b', 'c', 'd', 'e']

In [6]:
list(zip(list1, list2))

[(1, 'a'), (2, 'b'), (3, 'c'), (4, 'd'), (5, 'e')]

In [7]:
for item1, item2 in zip(list1, list2):
  print('{} {}'. format(item1, item2))

1 a
2 b
3 c
4 d
5 e